/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Kristi');
* {
    font-family: 'Fira Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


/*begin navigation styling*/

.navigation {
    width: 100vw;
    height: 7vh;
    top: 0;
    background: lightgrey;
    margin: 0;
}

.nav-menu {
    display: flex;
    flex-direction: row-wrap;
    float: right;
    margin: 0;
    top: 0;
    height: 7vh;
}

.nav-menu li {
    list-style-type: none;
    /*    border: 1px solid lightgrey;
    background-color: rgba(255, 255, 255, 0.7);*/
    padding: 20px;
    margin: 0;
    top: 0;
}

.current-user {
    color: slategrey;
}


/*end navigation styling*/


/*styles all links*/

a {
    text-decoration: none;
    color: slategrey;
}


/*styling for landing page*/


/*this is the div container for the landing page*/

.landing-container {
    display: flex;
    width: 100vw;
    height: 90vh;
    opacity: 0.8;
    background: url("http://i.imgur.com/JkkhGMB.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*    overflow: scroll;*/
}


/*search div holds the form page within the landing div*/

.search {
    /*    display: flex;*/
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2%;
    top: 25%;
    left: 15%;
    width: 60%;
    height: 40%;
    /*    text-align: left;*/
    padding: 3%;
    position: absolute;
    overflow: scroll;
}

.sd-handwriting {
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: rebeccapurple;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    font-style: italic;
}

.search-heading {
    word-spacing: 1em;
}

.search-results {
    text-align: center;
    padding: 3%;
}

.search-results img {
    max-height: 150px;
    max-width: 150px;
    border-radius: 30px;
    padding: 2%;
}

.search-results li {
    list-style-type: none;
    line-height: 3;
}

.category-links {
    font-style: bold;
    font-size: 40px;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
}

/*landing page form*/

input[type=text] {
    width: 50%;
    padding: 3%;
    font-size: 15px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=submit] {
    width: 15%;
    border: none;
}


/*end landing page form*/


/*log in page form*/

input[name="commit"] {
    width: 35%;
    padding: 3%;
    border: none;
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.7);
    text-shadow: 0 5px 5px rgba(38, 38, 38, 0.7);
    margin: 3%;
    background-color: rebeccapurple;
    font-size: 2em;
}

input[type=email],
input[type=password] {
    width: 60%;
    padding: 3%;
    border: none;
    margin: 3%;
}


/*end log in page form*/


/*sign up page form*/

#user_full_name,
#user_email,
#user_password,
#user_password_confirmation {
    width: 55%;
    padding: 3%;
    border: 1px solid lightgrey;
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    margin: 3%;
}


/*footer shows up in every page, copyright Sameny Robunde*/

.footer {
    float: right;
}


/*begin user profile page styling*/


/*user profile main container*/

.profile-container {
    display: flex;
    align-items: center;
    opacity: 0.8;
    height: 95vh;
    background: url("http://i.imgur.com/RT9uFHA.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*main contains actual user profile*/

.main-profile {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    width: 35%;
    height: 70%;
    padding: 3%;
    position: absolute;
    top: 12%;
    left: 6%;
    overflow: scroll;
}

.user-profile-heading {
    font-family: 'Kristi', cursive;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    color: rebeccapurple;
    font-size: 50px;
}

.profile-subdiv {
    padding: 10%;
}


/*end user profile page styling*/


/*begin events index page*/

.events-container {
    display: flex;
    flex-direction: row-wrap;
    justify-content: center;
    height: 95vh;
    align-items: flex-start;
    opacity: 0.8;
    background: url("http://i.imgur.com/T62L3GU.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*sidebar displays links for search again and create an event*/

.sidebar-events {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    width: 20%;
    height: 25%;
    margin-right: 3%;
    margin-top: 5%;
    padding: 2%;
}


/*main displays all the events post-search*/

.main-events {
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    height: 90vh;
    background-size: cover;
    flex-direction: column;
    border: 1px solid lightgrey;
    background-color: rgba(255, 255, 255, 0.7);
    width: 45%;
    height: 70%;
    padding: 2%;
    margin-top: 5%;
    overflow: scroll;
}

.events-heading {
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: rebeccapurple;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    font-style: italic;
    margin: 0;
    letter-spacing: 7px;
}

.events-links {
    padding: 5%;
    margin-top: 5%;
}

.searched-events {
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.individual-searched-events {
    margin: 4%;
    padding: 4%;
}

.searched-label {
    font-size: 20px;
    padding: 3%;
}

.searched-img {
    max-width: 100px;
    max-height: 100px;
}


/*end events index page*/


/*begin login page styling*/


/*main login container div*/

.login-container {
    display: flex;
    align-items: center;
    opacity: 0.8;
    height: 90vh;
    background: url("http://i.imgur.com/8FN0mS1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*form container holds form, within login container*/

.form-container {
    width: 25vw;
    height: 55vh;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5%;
    /*    margin: 15%;*/
    top: 15%;
    left: 15%;
    position: absolute;
    overflow: scroll;
}


/*log in page form*/


.login-heading {
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: rebeccapurple;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    font-style: italic;
    margin: 0;
}

label[for=user_full_name],
label[for=user_picture],
label[for=user_email],
label[for=user_password],
label[for=user_password_confirmation] {
    padding: 3%;
    margin: 3%;
    line-height: 3;
}

input[type=email],
input[type=password] {
    width: 60%;
    padding: 3%;
    border: none;
    margin: 3%;
}

input[type=email]:focus,
input[type=password]:focus {
    border: 3px solid #555;
}


/*end log in page form*/


/*end login page styling*/


/*begin signup page styling*/


/*main container div for signup page*/

.signup-container {
    display: flex;
    align-items: center;
    opacity: 0.8;
    height: 90vh;
    background: url("http://i.imgur.com/5eEd8wC.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*this container div holds the signup form*/

.signup-form-container {
    width: 25vw;
    height: 55vh;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5%;
    /*    margin-left: 45%;*/
    top: 15%;
    left: 45%;
    position: absolute;
    overflow: scroll;
}

.signup-heading {
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: rebeccapurple;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    font-style: italic;
    margin: 0;
}

/*sign up page form*/

#user_full_name,
#user_email,
#user_password,
#user_password_confirmation {
    width: 55%;
    padding: 3%;
    border: 1px solid lightgrey;
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    margin: 3%;
}

#user_full_name:focus,
#user_email:focus,
#user_password:focus,
#user_password_confirmation:focus {
    border: 3px solid #555;
}


/*end signup page styling*/


/*begin styling for events show page*/


/*main container div for events show page*/

.events-show-container {
    display: flex;
    align-items: center;
    opacity: 0.8;
    height: 95vh;
    background: url("http://i.imgur.com/xCMuDCr.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*this div holds all the events info*/

.events-show {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    width: 40%;
    height: 70%;
    padding: 3%;
    position: absolute;
    top: 10%;
    left: 7%;
    overflow: scroll;
}

.event-name-heading {
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: rebeccapurple;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    font-style: italic;
    margin: 0;
}

.events-label h3,
.events-label p {
    display: inline;
}

.events-label {
    padding: 3%;
}

.events-image {
    max-width: 200px;
    max-height: 200px;
}

.events-button {
    width: 35%;
    padding: 3%;
    border: none;
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.7);
    text-shadow: 0 5px 5px rgba(38, 38, 38, 0.7);
    margin: 3%;
    background-color: rebeccapurple;
    font-size: 1em;
}

/*end events show page styling*/


/*begin events new styling*/


/*this is the main container for the events new page*/

.create-container {
    display: flex;
    align-items: center;
    opacity: 0.8;
    height: 90vh;
    background: url("http://i.imgur.com/o81UzEw.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.event-form-container {
    width: 40%;
    height: 60%;
    margin: 1%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5%;
    top: 10%;
    left: 45%;
    position: absolute;
    overflow: scroll;
}

.create-heading {
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: rebeccapurple;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    font-style: italic;
    margin: 0;
}

#event_name,
#event_type,
#event_category,
#event_event_date,
#event_price,
#event_image_url,
#event_event_url {
    width: 50%;
}

#event_name:focus,
#event_type:focus,
#event_category:focus,
#event_event_date:focus,
#event_image_url:focus,
#event_event_url:focus {
    border: 3px solid #555;
}



/*end event new styling*/

img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 20px;
}

.searchedevent img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 20px;
}


/*end event new styling*/


/***   Tunde : for message  ***/

div.flash {
    background-color: white;
    display: none;
    max-width: 300px;
    margin: 0 auto;
}

div.notice {
    border: 1px solid rebeccapurple;
}

div.alert {
    border: 1px solid red;
}

p.flash-text {
    text-align: center;
    font-weight: bold;
}

p.notice {
    color: rebeccapurple;
}

p.alert {
    color: red;
}


/*****  Tunde Comment styling **********************/

.modal {
    z-index: 1;
    opacity: 0.9;
    width: 80%;
    height: 80%;
    display: none;
}


/*begin homes show styling*/

.saved-events-container {
    display: flex;
    align-items: center;
    opacity: 0.8;
    height: 95vh;
    background: url("http://i.imgur.com/bvsbrye.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*this div holds all the homes show info*/

.saved-events-show {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    width: 40%;
    height: 80%;
    padding: 3%;
    position: absolute;
    top: 9%;
    left: 10%;
    overflow: scroll;
}

.saved-events-info h3,
.saved-events-info p {
    display: inline;
}

.saved-events-info {
    padding: 3%;
}

.saved-events-heading {
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: rebeccapurple;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    font-style: italic;
    margin: 0;
}
/*end homes show styling*/

/*begin events edit form styling*/

.edit-event-container {
    display: flex;
    align-items: center;
    opacity: 0.8;
    height: 90vh;
    background: url("http://i.imgur.com/T62L3GU.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.edit-event-form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    width: 40%;
    height: 70%;
    padding: 3%;
    position: absolute;
    top: 9%;
    left: 7%;
    overflow: scroll;
}

.edit-event-heading {
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: rebeccapurple;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    font-style: italic;
    margin: 0;
}

/*end events edit form styling*/

/*begin user edit styling*/

.edit-user-container {
    display: flex;
    align-items: center;
    opacity: 0.8;
    height: 95vh;
    background: url("http://i.imgur.com/RT9uFHA.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*this div holds all the edit user form info*/

.edit-user-form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    width: 35%;
    height: 80%;
    padding: 3%;
    position: absolute;
    top: 9%;
    left: 7%;
    overflow: scroll;
}

.edit-user-heading {
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: rebeccapurple;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    font-style: italic;
    margin: 0;
}
/*end user edit styling*/


/*begin new comments styling */

.new-comment-container {
    display: flex;
    align-items: center;
    opacity: 0.8;
    height: 95vh;
    background: url("http://i.imgur.com/HNjMNTk.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*this div holds the new comments form*/

.new-comment-form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    width: 40%;
    height: 55%;
    padding: 3%;
    position: absolute;
    top: 9%;
    left: 10%;
    overflow: scroll;
}

.comment-heading {
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: rebeccapurple;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    font-style: italic;
    margin: 0;
}

label[for=comment_event],
label[for=comment_comment] {
    line-height: 4;
    font-size: 20px;
}

#comment_event_id {
    padding: 5%;
}


/*end new commments styling*/


/*begin edit comments styling*/

.edit-comment-container {
    display: flex;
    align-items: center;
    opacity: 0.8;
    height: 95vh;
    background: url("http://i.imgur.com/HNjMNTk.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*this div holds the new comments form*/

.edit-comment-form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    width: 40%;
    height: 55%;
    padding: 3%;
    position: absolute;
    top: 9%;
    left: 10%;
    overflow: scroll;
}

.comment-heading {
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: rebeccapurple;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    font-style: italic;
    margin: 0;
}

/* GC minimizing comment pic */

.commpic {
  max-height: 40px;
  max-width: 40px;
}

/* GC minimizing comment timestamp */

.commtime {
  font-size: 10pt;
  font-style: italic;
  color: darkslategrey;
  margin: 0px;
  display: inline;
}

/* GC Indent comment */

/* Style Event Details */

.event-details {
  background-color: rgba(125, 125, 125, .75);
  padding: 5%;
}

.editevlinks a {
  display: inline;
  margin-left: 2%;
  color: indigo;
}

textarea {
  width: 95%;
  height: 100px;
}

.evlinks a {
  display: inline;
  color: indigo;
}

/*end edit comment styling*/

/*begin change password page styling*/

.change-password-heading {
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: rebeccapurple;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    font-style: italic;
    margin: 0;
}
/*end change password page styling*/

/*begin forgot password page styling*/

.forgot-password-container {
    display: flex;
    align-items: center;
    opacity: 0.8;
    height: 95vh;
    background: url("http://i.imgur.com/HNjMNTk.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*this div holds the forgot password form*/

.forgot-password-form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 5px rgba(38, 38, 38, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    width: 40%;
    height: 50%;
    padding: 3%;
    position: absolute;
    top: 11%;
    left: 10%;
    overflow: scroll;
}

.forgot-password-heading {
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: rebeccapurple;
    text-shadow: 0 3px 3px rgba(38, 38, 38, 0.8);
    font-style: italic;
    margin: 0;
}

.actions input[type="submit"] {
    width: 100%;
}
/*end forgot password page styling*/



