<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>something different | profile</title>
</head>
<body>
    <div class="profile-container">
        <div class="sidebar-profile">
            <div class="google-maps">
            </div>
            <div class="drop-down-menus">
            </div>
        </div>
        <div class="main-profile">

            <img src="../../assets/images/female-profile.png" class="profile-pic" />
            <h3><%= @user.full_name %></h3>
            <h4> My Events </h4>
            <div class="my-events">
                <h3>Saved events go here</h3>
            </div>
            <div class="my-events">
                <h3>Saved events go here</h3>
            </div>
            <div class="my-events">
                <h3>Saved events go here</h3>
            </div>
</body>
</html>
