<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>something different | profile</title>
</head>
<body>
    <div class="navigation">
        <a href="#" class="logo">LOGO</a>
        <ul class="nav-menu">
            <li><a href="#../events/index.html">BROWSE EVENTS</a></li>
            <li><a href="#createevent">CREATE AN EVENT</a></li>
            <li><a href="../users/show.html">PROFILE</a></li>
            <li><a href="#signup">SIGN UP</a></li>
            <li><a href="#login">LOG IN</a></li>
        </ul>
    </div>
    <div class="profile-container">
        <div class="sidebar-profile">
            <div class="google-maps">
            </div>
            <div class="drop-down-menus">
            </div>
        </div>
        <div class="main-profile">
            <img src="../../assets/images/female-profile.png" class="profile-pic" />
            <label class="profile-info">Name: </label>
            <label class="profile-info">My Events: </label>
            <div class="my-events">
                <h3>Saved events go here</h3>
            </div>
            <div class="my-events">
                <h3>Saved events go here</h3>
            </div>
            <div class="my-events">
                <h3>Saved events go here</h3>
            </div>
    </div>
        <div class="footer">
        <p>&copy; Sameny Robunde</p>
    </div>
</body>
</html>
