
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>something different</title>
</head>

<body>
    <div class="landing">
        <div class="search">
            <%= render 'form' %>

             <%= render 'search' %>
         
        </div>
    </div>

</body>

</html>

