
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>something different</title>
</head>

<body>
    <div class="landing-container">
        <div class="search">
            <%= render 'form' %>
        </div>
        <div class="search-results" id="hidden">
             <%= render 'search' %>
        </div>
    </div>
</body>
</html>

