

    <div class="events-container">
        <div class="sidebar-events">
            <h2 class="events-links"><a href="/">SEARCH AGAIN</a></h2>
            <h2 class="events-links"><a href="../events/new">CREATE AN EVENT</a></h2>
        </div>

        <div class="main-events">
            <h1 class="events-heading">all events</h1>
            <div class="searched-events">
                <div class="individual-searched-events">

<!--                       show each event -->
                      <% @events.each do |ev| %>

                        <div class="event-details">
                          <h2 class ="evlinks"><%= link_to ev.name,  event_path(ev) %></h2>
                          <p><%= image_tag(ev.image, :alt => "") %></p>


                          <label>Date: </label> <%= ev.event_date.strftime("%b %d %I:%M") %> <br>

                          <p>Created By: <%= ev.user.full_name %></p>
                        </div>
                        <hr>
                      <% end %>
                </div>
                </div>
                </div>
                </div>



