<title>something different | events</title>
<div class="events-show-container">
    <div class="events-show">
        <div class="image">
        </div>
        <label class="events-label"><strong>Event name: </strong></label> <p><%= @event.name %></p>
        <br/>
        <label class="events-label"><strong>Date: </strong></label>
        <br/>
        <label class="events-label"><strong>Category: </strong></label>
        <br/>
        <label class="events-label"><strong>Event type: </strong></label>
        <br/>
        <label class="events-label"><strong>Price: </strong></label>
        <br/>
      </div>

    </div>
</div>
